**/.git
**/.svn
**/.hg
**/node_modules
app
bootstrap
config
database
lang
/public/build
routes
storage
stubs
tests
vendor
docs

.env
.env.example
composer.json
composer.lock
components.d.ts
pnpm-lock.yaml

/resources/js/Types/routes.d.ts
/resources/js/Types/auto-imports.d.ts
/resources/js/Types/generated.d.ts
/riege
